{% extends 'partials/base.html.twig' %}

{% block content %}
	<h1>{{ 'AUTHOR'|t }} {{ page.header.author }}</h1>
	{{ page.content }}	

	<h2>{{ 'ALL_AUTHOR_POSTS'|t }}</h2>
	{% include 'partials/authorposts.html.twig' with {'author': page.header.author} %}
{% endblock %}


