{% extends 'partials/base.html.twig' %}

{% block content %}
	<h1>{{ 'CATEGORY'|t }} {{ page.header.category }}</h1>
	{{ page.content }}	

	<h2>{{ 'RELATED_ARTICLES'|t }}</h2>
	{% include 'partials/categoryposts.html.twig' with {'category': page.header.category} %}
{% endblock %}


